langchain
langchain-core
langchain-community
langchain-ollama
python-dotenv
pymongo
fastmcp
bcrypt
langgraph
langgraph-checkpoint-redis
pydantic
ollama
fastapi
uvicorn
requests
python-multipart
faster-whisper
ffmpeg
sentence-transformers
pymilvus
python-keycloak
pytest